<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto IFTS14</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- cabecera de la página -->
    <header class="header">
    <div class="imagen-ifts">
     <img src="/images/IFTS14 logo.webp" alt="logo IFTS14">
    </div>
    
     <h1>Trabajo integrador Ifts14</h1>

     <h3>Valentino Parma</h3>
     
    </header>
    <!-- sección de datos -->
    <main class="main">
      <div class="dato-1">
        <p>Temperatura</p>
        <p id="dato-temperatura">24°</p>
        <button name="button">Recargar</button>
      </div>
      <div class="dato-2">
        <p>Voltaje</p>
        <p id="dato-voltaje">24 V</p>
        <button name="button">Recargar</button>
      </div>
      <div class="dato-3">
        <p>Perdida de gas</p>
        <p id="dato-gas">false</p>
        <button name="button">Recargar</button>
      </div>
    </main>
    <!-- pie de pagina (footer) -->
     <footer class="footer">
       <h4>Proyecto ifts Nro°14</h4>
     </footer>
  </body>
</html>